
 

#login-container {
    width: 30px;
    color: rgb(217, 193, 220);
    background-image: linear-gradient(290deg, rgba(192, 189, 169, 0.1), rgba(224, 159, 224, 0.1));
    border-radius: 10px;
    padding: 20px;
  }

  #login {
    /* background-color: #c100d6; */
    min-height: 100vh;
    min-width: 100vh;
  }
  .col {
    min-height: 50vh;
  }
  h2 {
    font-family: 'Kanit', sans-serif;
    background: -webkit-linear-gradient(360deg,#e1ff00, #c100d6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 40px;
  }
  h3 {
    font-family: 'Bebas Neue', cursive;
    background: -webkit-linear-gradient(360deg,#e1ff00, #c100d6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: -20px;
  }
  h4 {
    font-size: 12px;
    padding-left: 40px;
  }
  .login-text {
    padding: 30px;
    margin: 20px;
  }
  .password-box {
    padding-bottom: 20px;
  }

  .user {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .group-icon {
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
  }
  .enter-text {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 131, 140);
    position: relative;
    border-radius: 3px;
    bottom: 10px;
  }
  a:link, a:visited {
    color: rgb(212, 152, 205);
    text-decoration: none;
  }
  .help-links:hover {
    color: rgb(229, 188, 232);
  }